<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Bem-vindo ao Adv.Sys<br>
  Por favor, faça seu login<br>
  <ion-list>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <button ion-button block round margin-top="15px" (click)="sendForm()">Entrar</button>
    <button ion-button outline block round margin-top="15px" (click)="goToRegister()">QUERO ME CADASTRAR</button>
  </ion-list>
</ion-content>
