<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirmação de senha</ion-label>
      <ion-input type="password" [(ngModel)]="passwordConfirmation"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Data de nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="birthDate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="text" [(ngModel)]="cpf"></ion-input>
    </ion-item>

    <button ion-button block round margin-top="15px" (click)="sendForm()">CADASTRAR</button>
    <button ion-button outline color="gray" block round margin-top="15px" (click)="goToLogin()">JÁ TENHO CADASTRO
    </button>

  </ion-list>
</ion-content>

