<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="list card" *ngIf="user">
    <ion-item class="profile-item">
      <h2 class="profile-name dark">{{user.name}}</h2>
      <div class="profile-info">{{user.username}}</div>
      <div class="profile-info">{{user.email}}</div>
      <div class="profile-info">{{formatCpf(user.cpf)}}</div>
      <div class="profile-info">{{formatDate(user.birth_date)}}</div>
    </ion-item>
  </div>
</ion-content>
