<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Processos
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content>

        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="processes">
        <button ion-item *ngFor="let process of processes" (click)="openProcess(process)">
            {{process.name}} - {{process.getFormatedCreatedAt()}}
        </button>
    </ion-list>
</ion-content>
