<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <ion-title>Adv.Sys - Seu sistema de advocacia!</ion-title>
        </ion-toolbar>
        <h1 class="title">
            <img class="title-image" src="https://image.ibb.co/k66dC0/logo.png" width="89" height="80"/>
        </h1>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item *ngFor="let page of appPages" (click)="pushToPage(page.component)" menuToggle>
                <ion-icon slot="start" [name]="page.icon"></ion-icon>
                <ion-label>
                    {{page.title}}
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()" menuToggle>
                <ion-icon slot="start" name="exit"></ion-icon>
                <ion-label>
                    Sair
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
