<ion-header>

  <ion-navbar>
    <ion-title>Processo {{process.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5>Processo número {{process.id}}</h5>
  <span>{{process.description}}</span><br>
  <h6>Advogado Responsável: {{process.admin.name}}</h6><br>
  <h6>Criado em: {{process.getFormatedCreatedAt()}}</h6><br>
  <img [src]="process.getUrlPhoto()" (click)="openImage()">
</ion-content>
